<!-- Info -->
<section>
	<div class="inner">
		<section>
			<div class="web-info-method">
				<h3><span class="icon alt fa-exclamation-triangle"></span> Before you proceed further ...</h3>
				<p>
					This is a community-driven passion project for Genshin Impact, developed and maintained by a single person (Arun) with the assistance and help of BranOnline's twitch community.
					While Bran is associated with Hoyoverse as content creator, Bran and the rest of the community, including this website's owner (Arun) are not affiliated with Hoyoverse.
					At the moment, we don't provide up-to-date information. The content provided here are the contributions of the community members. Also, none of the images are owned by the writers. They are the property of Hoyoverse.
				</p>
			</div>
		</section>
	</div>
</section>
