<!-- Footer -->
<footer id="footer" class="mt-auto">
    <div class="container-xxl text-light text-center position-relative py-3" style="background-color: #2B3035;">
        <p>
            A fan-made website for Hoyoverse game players. All the game assets are the property of COGNOSPHERE PTE. LTD.

            <br>
            
            Website Owner: <a href="https://arunprasaad2711.github.io" target="_blank">Arun Prasaad Gunasekaran</a> | Website designed using: <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
        </p>
    </div>
</footer>
