<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">

    <!-- Navbar Container -->
    <div class="container-xxl">

        <!-- Navbar header -->
        <a class="navbar-brand" href="./index.html">
            <img src="images/BannerImages/Branches.png" alt="" width="30" class="d-inline-block align-text-top">
            Branches of the White Tree
        </a>

        <!-- Toggle button for mobile view -->
        <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#main-nav", aria-controls="main-nav"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" href="#">Home</a> </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Genshin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                      <li><a class="dropdown-item" href="#">Lore Section</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Character Builds</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      HSR
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                      <li><a class="dropdown-item" href="#">Lore Section</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Character Builds</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item"> <a class="nav-link" href="#">HI3rd</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Useful Pages</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
            </ul>
        </div>

    </div>
    
</nav>