<!-- Main -->
<!-- One -->
<section id="one">
  <div class="inner">
    
    <header class="major">
      <h2>Character Stories</h2>
    </header>
    <p>
      This section is a growing collection of articles on the various playable characters in the game.
    </p>

  </div>
</section>

<section id="two" class="spotlights">

	<section>
		<a href="/CharacterLore/Jean.html" class="image">
			<img src="/CharacterLore/JeanImages/01.jpeg" alt="" data-position="center center">
		</a>

		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Jean</h3>
				</header>
				<p>Jean is the eldest daughter of the prestigious Gunnhildr Clan in Mondstadt. She holds the title of Dandelion Knight and is the Master of the Knights, second-in-command to Varka, the Grand Master of Mondstadt’s Knights of Favonius.</p>
				<ul class="actions">
					<li><a href="/CharacterLore/Jean.html" class="button">Read more</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<a href="/CharacterLore/Venti.html" class="image">
			<img src="/CharacterLore/VentiImages/17.webp" alt="" data-position="center center">
		</a>

		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Venti</h3>
				</header>
				<p>Venti is a playable Anemo character and the mortal vessel of the Anemo Archon of Mondstadt in Genshin Impact. Venti has a carefree and playful attitude with an affinity for music and poetry.</p>
				<ul class="actions">
					<li><a href="/CharacterLore/Venti.html" class="button">Read more</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<a href="/CharacterLore/Diluc.html" class="image">
			<img src="/CharacterLore/DilucImages/10.jpg" alt="" data-position="center center">
		</a>

		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Diluc</h3>
				</header>
				<p>Diluc is a descendant of the Ragnvindr clan, son of Crepus Ragnvindr. He was the Cavalry Captain of the Knights of Favonius, and now a tycoon of a winery empire in Mondstadt. He’s the owner of the Dawn Winery, which in turn established and funded Angel’s Share tavern.</p>
				<ul class="actions">
					<li><a href="/CharacterLore/Diluc.html" class="button">Read more</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<a href="/CharacterLore/Sucrose.html" class="image">
			<img src="/CharacterLore/SucroseImages/Sucrose07.jpg" alt="" data-position="center center">
		</a>

		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Sucrose</h3>
				</header>
				<p>Sucrose is the assistant of Albedo and an alchemist interested in modifying existing life, known as bio-alchemy. She is a shy and introverted, yet amazingly brilliant researcher who is doing her own research on alchemy.</p>
				<ul class="actions">
					<li><a href="/CharacterLore/Sucrose.html" class="button">Read more</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<a href="/CharacterLore/Lisa.html" class="image">
			<img src="/CharacterLore/LisaImages/Lisa06.png" alt="" data-position="center center">
		</a>

		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Lisa</h3>
				</header>
				<p>Lisa is an intellectual and a knowledgable sorceres, who works as a Librarian of the Knights of Favonius. Often told by many as someone "overqualified" to be a mere Librarian, she often dismisses these claims and continues enjoy her peaceful life at Mondstadt.</p>
				<ul class="actions">
					<li><a href="/CharacterLore/Lisa.html" class="button">Read more</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<a href="/CharacterLore/Wanderer.html" class="image">
			<img src="/CharacterLore/WandererImages/image8.png" alt="" data-position="center center">
		</a>

		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Wanderer</h3>
				</header>
				<p>Kunikuzushi, Kabukimono, Scaramouche, The Balladeer. I’m sure these names all ring a bell in your head — an iconic character in Genshin Impact. His story is quite intriguing, complex, and well-written. From being a product of a God to making contact with humans, to eventually hating both, he went through a lot. He, who has walked the border of God and Humans, only wished to be wanted. Such a fascinating character, crafted by taking many references from real-world folklore and mythology.</p>
				<ul class="actions">
					<li><a href="/CharacterLore/Wanderer.html" class="button">Read more</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<a href="/CharacterLore/Xiao.html" class="image">
			<img src="/CharacterLore/XiaoImages/image31.jpg" alt="" data-position="center center">
		</a>

		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Xiao</h3>
				</header>
				<p>Xiao is the last remaining foremost Yaksha who fought in the Archon War and holds the highest level of seniority among Adepti. Saved by Morax from his shackles, he devoted his life to both Rex Lapris and the land of Liyue that he fought for.</p>
				<ul class="actions">
					<li><a href="/CharacterLore/Xiao.html" class="button">Read more</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section>
		<a href="/CharacterLore/Razor.html" class="image">
			<img src="/CharacterLore/RazorImages/18.jpg" alt="" data-position="center center">
		</a>

		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Razor</h3>
				</header>
				<p>Traveling through the forest of Wolvendom, and with any luck, you might come across a young wolf boy, probably hunting with his family.</p>
				<ul class="actions">
					<li><a href="/CharacterLore/Razor.html" class="button">Read more</a></li>
				</ul>
			</div>
		</div>
	</section>

</section>
