<!-- One -->
<section id="one" class="tiles">
    <article>
        <span class="image">
            <!--img src="images/pic01.jpg" alt="" /-->
            <img src="images/Raiden_MusouNoHitotachi.png" alt="" />
        </span>
        <header class="major">
            <h3><a href="./CharacterBuilds.html" class="link">Meta</a></h3>
            <p>Collection of character building information.</p>
        </header>
    </article>
    <article>
        <span class="image">
            <!--img src="images/pic02.jpg" alt="" /-->
            <img src="images/AlbedoPainting.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="./CharacterLore.html" class="link">Lore</a></h3>
            <p>Collection of character story information.</p>
        </header>
    </article>
    <article>
        <span class="image">
            <!--img src="images/pic02.jpg" alt="" /-->
            <img src="images/honkai-impact-characters-header.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="./HonkaiImpact.html" class="link">Honkai Impact</a></h3>
            <p>Collection of some relevant information from Honkai Impact 3rd.</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="images/AmberBirthdayArt.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="./About.html" class="link">About</a></h3>
            <p>Info about me and the website</p>
        </header>
    </article>
</section>
