<div class="bg-light text-dark">
    <section class="container-xxl py-3">

        <figure class="text-center">
            <blockquote class="blockquote">
                <p>"Countless shooting stars streak across the night sky... If you can pick the right one, it will carry your wish to thousands of distant worlds."</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Black Swan in Myriad Celestia Trailer, Honkai: Star Rail
            </figcaption>
        </figure>
        
    </section>
</div>

<div class="bg-primary text-light">
    <section class="container-xxl py-3">
        <div class="text-center">
            <h1> Welcome to our <span class="text-warning">Website!</span> </h1>
        </div>
        <p>
            Greetings Traveller, Trailblazer, and/or Captain! Welcome to the Branches of the White Tree! This is a non-profit fan-made website for the Hoyoverse games: <span class="text-warning">Genshin Impact</span>, <span class="text-warning">Honkai: Star Rail</span>, and <span class="text-warning">Honkai Impact 3rd</span>.
        </p>

        <p>
            In our website, you'll find many lore-related write-ups and compendiums pertaining to the games. Additionally, we are trying our best to add guides and some basic theorycrafting information about the characters.
        </p>

    </section>
</div>